[user]
	name = Bernardo Salazar

[includeIf "gitdir:~/pers/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/proj/"]
    path = ~/.gitconfig-work

[core]
	autocrlf = input
  editor = /usr/local/bin/nvim
  pager = delta

[commit]
    gpgsign = true

[gpg]
    program = gpg

[pull]
    rebase = true

[branch]
    sort = committerdate

[merge]
    conflictstyle = diff3

[url "ssh://git@github.com"]
    insteadOf = https://github.com
    insteadOf = git://github.com

[trailer "Co-Authored-By"]
	where = after
	ifExists = addIfDifferent

[delta]
    features = decorations
    syntax-theme = Monokai Extended
    side-by-side = false
    line-numbers = true
    diffFilter = delta --color-only --features=interactive
